@import "../assets/sass/export_to_component";

.page{
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  >div{
    flex: 1 30%;
    @media screen and(max-width: 768px){
      flex: 1 100%;
    }
  }
}
.wrap-pz{
  position: relative;
  max-width: 420px;
  margin: auto;
  text-align: center;
  .body-wrap{
    position: relative;
    max-width: 420px;
    padding: $spacer/3;
    background-color: lighten($black, 20%);
    @include border-radius($border-radius*2);
    margin-bottom: $spacer;
    .header{
      text-align: center;
      display: block;
      padding: $spacer;
      margin-bottom: $spacer;
      color:darken($white, 20%);
      background-color: lighten($black,30%);
      @include border-radius($border-radius*2);

    }
  }

  .btn {
    background-image: linear-gradient(to right, $primary-color 0%, lighten($primary-color, 10%) 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    font: 1.125rem 'Oswald', Arial, sans-serif; /*18*/
    height: 64px;
    letter-spacing: 1px;
    margin: 0 auto;
    padding: 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 2;
    border:0;
    width: 64px;
    outline:none;
    cursor: pointer;
    img{
      opacity: 0.5;
      max-width: 32px;
    }
    &:hover {
      color: #fff;
      span {
        background: transparent;
      }
    }
    span {
      align-items: center;
      background: darken($primary-color,10%);
      border-radius: 40px;
      display: flex;
      justify-content: center;
      height: 100%;
      transition: background .5s ease;
      width: 100%;
    }

  }

}