$primary-color: #98698e !default;
$danger-color: #ff1661 !default;
$success-color: #1baa5c !default;
$white: #ffffff;
$black: #000000;

$base-line-height: 1.2 !default;
$base-font-size: 1rem !default;
$base-font-family: 'Roboto',sans-serif !default;

//spacer
$spacer: 1rem;

$body-bg-color: $white !default;
$body-color: $black !default;
$body-font-size: 1rem !default;

//radius
$border-radius: 0.2rem;
