@import "../../assets/sass/export_to_component";

.tile{
  line-height: 1;
  text-align: center;
  display: block;
  background-color: transparent;
  @include border-radius($border-radius*2);
  font-weight: 900;
  font-size: $base-font-size*1.2;
  font-family: $base-font-family;
  cursor: pointer;
  color:#d0bacb;
  text-shadow: 1px 1px rgba(#332530,1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include transition(transform 100ms cubic-bezier(.7,-0.01,.39,1));
  &.zero{
    background-color: transparent;
  color: lighten($black, 20%);
    @include box-shadow(none);
    text-shadow:none;
    opacity: 0;
  }
  //&.top {
  //  transform: translateY(-100px);
  //}
  //&.right {
  //  transform: translateX(-100px);
  //}
  //&.bottom{
  //  transform: translateY(-100px);
  //}
  //&.left {
  //  transform: translateX(100px);
  //}
}