@import "../../assets/sass/export_to_component";
.wrap-box{
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: $spacer/3;
  @media screen and(max-width: 768px){
    grid-gap: $spacer/2;
  }
}